# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "b03fafce95cd5126d8f4c03326843a3c"
name = "Arbling"
application_url = "https://example.com"
embedded = true

[build]
automatically_update_urls_on_dev = true
include_config_on_deploy = true

[webhooks]
api_version = "2026-04"

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = "read_products,write_products"

[auth]
redirect_urls = [ "https://example.com/api/auth" ]

[app_proxy]
url = "https://your-app-domain.com/proxy/signed-glb"  
subpath = "signed-glb"
prefix = "apps"
subpath_prefix = "ar-proxy"



